.main-section {
  width: calc(100% - 20%);
  float: right;
  margin-top: 5.5rem;
}
.sale_picture {
  width: 80%;
  height: 25rem;
  display: flex;
  justify-content: center;
  margin: 0rem auto;
}
.card__container {
  margin-top: 3rem;
  margin-left: 1.5rem;
  display: flex;
  justify-content: space-between;
}
